<header>
        <img class="logo" src="/img/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <a class="ingresar" href="/login">Sign in</a>
</header>

