<nav class="navbar">
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>

    </ul>
  </div>
  <div class="registration-buttons">
    <ul>
      {{#if session.loggedIn}}
        <li><a href="/logout">Log out</a></li>
      {{else}}
        <li><a href="/login">Log in</a></li>
      {{/if}}
      <li><a href="/registration">Register</a></li>

    </ul>
  </div>

</nav>