<nav class="navbar">
        <div class="navigation">
            <ul>
                <li><a href="/">Inicio</a></li>
                
            </ul>
        </div>
        <div class="registration-buttons">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">Register</a></li>
                
            </ul>
        </div>
        
    </nav>